<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="https://img.freepik.com/vector-gratis/hacker-que-opera-ilustracion-icono-historieta-ordenador-portatil-concepto-icono-tecnologia-aislado-estilo-dibujos-animados-plana_138676-2387.jpg?w=2000">
    <title>Editar datos de la Transaccion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a{
        color:white;
        }
        a:hover {
        color: black;
        text-decoration:none;
        }

    </style>
</head>
<body>

<div class="container">

    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>

    <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
    <nav>
        <center>
            <img src="https://img.freepik.com/vector-gratis/hacker-que-opera-ilustracion-icono-historieta-ordenador-portatil-concepto-icono-tecnologia-aislado-estilo-dibujos-animados-plana_138676-2387.jpg?w=2000"
                 width="140" height="140" alt="">
        </center>
    </nav>

    <h1> Modifique datos de la Transaccion</h1>
    <br>
    <!--Crear formulario para cambiar los datos de la transacion y guardarlo en el objeto mov -->
    <form th:action="@{/ToUpdateTransaction/{id}/Employee/{employeeId}(id=${mov.id},employeeId=${usuario.id})}" th:object="${mov}" method="post">
        <!--Campo para id-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="id">ID de la transaccion:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{id}" class="form-control" id="id" required="required" readonly></div>
            </div>
        </div>

        <!--Campo para Concepto-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="concept">Concepto de la Transaccion:</label>
                <div class="col-md-6">
                    <select th:field="*{concept}" class="form-control" id="concept" required="required">
                        <option th:value=1>Papeleria</option>
                        <option th:value=2>Servicios Publicos/Privados</option>
                        <option th:value=3>Operativos</option>
                        <option th:value=4>Caja menor</option>
                        <option th:value=5>Tributario</option>
                        <option th:value=6>Mobiliario</option>
                        <option th:value=7>Maquinaria y Equipo</option>
                        <option th:value=8>Nomina</option>

                    </select>
                </div>
            </div>
        </div>

        <!--Campo para monto-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="amount">Valor de la Transaccion:</label>
                <div class="col-md-6">
                    <input type="number" th:field="*{amount}" class="form-control" id="amount" required="required"></div>
            </div>
        </div>

        <!--Campo para usuario-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="usuario">Empleado responsable:</label>
                <div class="col-md-6">
                    <select th:field="*{usuario}" class="form-control" id="usuario" required="required" readonly >
                        <!--<option th:value="*{usuario.id} th:text=*{usuario.email}"></option>-->
                        <option th:text="${#httpServletRequest.remoteUser}" th:value="${idEmployee}"></option>
                        <!--<option th:text="${#httpServletRequest.remoteUser}" th:value="${#httpServletRequest.remoteUser}"></option> -->
                    </select>
                </div>
            </div>
        </div>


        <!--Campo para fecha-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="fecha">Fecha de la transaccion:</label>
                <div class="col-md-6">
                    <input type="date" th:field="*{fecha}" class="form-control" id="fecha" required="required" readonly></div>
            </div>
        </div>
        <!--Boton para enviar-->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Actualizar Transaccion</button>
            </div>
        </div>

    </form>


    <br>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>

</body>
</html>