<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

        <title>Lista de Transaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        a{
        color:white;
        }
        a:hover {
        color: black;
        text-decoration:none;
        }
        p{
            font-family: Arial;
            font-size: 16px;
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="container">

    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>
    <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>

    <nav>
        <center>
            <img src="https://img.freepik.com/vector-gratis/hacker-que-opera-ilustracion-icono-historieta-ordenador-portatil-concepto-icono-tecnologia-aislado-estilo-dibujos-animados-plana_138676-2387.jpg?w=2000"
                 width="140" height="140" alt="">
        </center>
    </nav>

    <h1> Lista de Transacciones</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th class="text-right">Valor</th>
            <th>Concepto</th>
            <th>Usuario Responsable</th>
            <th>Fecha de la Transaccion</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

    <!--Llenamos la tabla dibujada-->
    <!--En nuestro controller, creamos en viewTransaction un modelo con un atributo llamado movlist donde esta guardada la lista de todos los movimientos-->
        <tr th:each="transaction : ${movlist}">
            <td th:text="${transaction.id}"></td>
            <td class="text-right" th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
            <td th:if="${transaction.concept=='1'}">Papeleria</td>
            <td th:if="${transaction.concept=='2'}">Servicios Publicos/privados</td>
            <td th:if="${transaction.concept=='3'}">Operativos</td>
            <td th:if="${transaction.concept=='4'}">Caja Menor</td>
            <td th:if="${transaction.concept=='5'}">Tributario</td>
            <td th:if="${transaction.concept=='6'}">Mobiliario</td>
            <td th:if="${transaction.concept=='7'}">Maquinaria y Equipo</td>
            <td th:if="${transaction.concept=='8'}">Nomina</td>
            <td th:text="${transaction.usuario.email}"></td>
            <td th:text="${#dates.format(transaction.fecha, 'dd/MM/yyyy')}"></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditTransaction/{id}/Employee/{employeeId}(id=${transaction.id},employeeId=${id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/DeleteTransaction/{id}/Employee/{employeeId}(id=${transaction.id},employeeId=${id})}">Eliminar</a></button></td>
        </tr>
    </table>

    <!-- CAMPO PARA EL AREA DE NAVEGACION -->
    <!--
    <nav aria-label="Ejemplo navegacion">
        <ul class="pagination mt-4">
            <li th:class="${paginaActual==estado.index} ? 'active' : '' " th:each="pagina, estado: ${paginas}" class="page-item">
                <a th:href="@{/ViewTransactions/(pagina=${estado.index})}" class="page-link" th:text="${estado.index}+1">Atras</a>
            </li>
        </ul>
    </nav>
    -->


    <!-- Campo para ver la suma de TODAS LAS TRANSACCIONES FILTRADOS -->

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-3" for="SumaMontos">Total Transacciones:</label>
            <div class="col-md-6">
                <p th:text="${#numbers.formatCurrency(SumaMontos)}" class="form-control" id="SumaMontos"></p>
            </div>
        </div>
    </div>


    <!-- vamos a crear un boton que sirva para agregar nuevas Transacciones -->
    <button type="button" class="btn btn-info"><a th:href="@{/AddTransaction/{id}/Transaction(id=${id})}">Agregar Nueva Transacion</a></button>
    <br><br>
    <!-- boton que me lleva a la lista de empresas -->
    <button type="button" class="btn btn-primary"><a th:href="@{/ViewEnterprises}">Ver lista de Empresas</a></button>
    <br><br>
    <!-- boton que me lleva a la lista de empleados -->
    <button type="button" class="btn btn-primary"><a th:href="@{/ViewEmployees}">Ver lista de Empleados</a></button>
</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Transaccion registrada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Transaccion actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Transaccion eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Transaccion no pudo ser eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>